name: example
description: Example app demonstrating bubble_label package
publish_to: none
version: 1.0.0

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  bubble_label:
    path: ../

flutter:
  uses-material-design: true
